<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    {% load humanize %}
    {% load polls_mycustom %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
</head>
<body>

    It is {% now "jS F Y H:i" %}

    {% if latest_question_list %}
        <ul>
            {% for question in latest_question_list  %}
                <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
                <p>  {% cycle '1' '2' %}</p>
            {% endfor %}
        </ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}

    {% firstof '' '2' '3' %}
    {% lorem 20 p %}


    {{ 1|add:1 }}
    {{ "DJango"|center:"15" }}
    <br>{% now "jS \o\f F" %}

    {% with mydemo="{'name':123}"  %}
        <br>{{ mydemo|cut:':' }}
    {% endwith %}

    <br>{{ 1234789|filesizeformat }}
    {% with my="123" %}
        <br>{{ my }}
    {% endwith %}

    {{ 1|apnumber }}
    <br>{{ "ijk"|change_name:1 }}
    <br>{% nowtime %}
    <br>
    {% show_custom %}


</body>
</html>